<form [formGroup]="abilityForm" (submit)="createAbility()" class="space-y-5 w-full px-10 bg-slate-400 rounded-lg p-12 flex justify-center">
    <div class="w-full">

        <p>Nombre de la habilidad<label class="text-red-600">*</label>
        </p>
        <input for="name" type="text" formControlName="name" class="rounded-sm w-full h-7">
        <br/><br/>

        <p>Descripción</p>
        <input for="description" type="text" formControlName="description" class="rounded-sm w-full h-7">
        <br/><br/>

        <p><label class="text-red-600">*</label>Campos obligatorios</p>

        <br/>
        <div class="flex justify-center">
            <button type="submit" class="bg-blue-900 hover:bg-blue-800 rounded-lg px-4 py-2 text-white font-semibold" [disabled]="this.abilityForm.invalid">
                Agregar Habilidad
            </button>
        </div>
    </div>

</form>

