<form [formGroup]="locationForm" (submit)="createLocation()" class="space-y-5 w-full sm:gap-6 px-6 py-4 sm:px-10 sm:py-6 bg-slate-400 rounded-lg justify-center">
    <div>
        <label for="name">Nombre de la locación<span class="text-red-600">*</span></label>
        <input for="name" type="text" formControlName="name" class="form-control">
        <label><span class="text-red-600">*</span>Campos obligatorios</label>
    </div>

    <div class="flex justify-center">
        <button type="submit" class="btn btn-p" [disabled]="this.locationForm.invalid">
            Agregar Locación
        </button>
    </div>
</form>