<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="bg-slate-400 rounded-lg p-12">
    <div class="w-full">
        <h1 class="font-bold text-xl align-middle text-center">Inicio de Sesión</h1>
        <br/>
        <div>
            <p for="username">Usuario</p>
            <input id="username" type="text" formControlName="username" class="form-control">
        </div>
        <br/>
        <div>
            <p for="password">Contraseña</p>
            <input id="password" type="password" formControlName="password" class="form-control">
        </div>
        <br/>
        <div class="flex justify-center">
            <button type="submit" class="btn btn-p" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        </div>
    </div>
</form>