<div class="bg-gray-50 sm:py-12 rounded-md text-center my-20 mx-20 px-6 lg:px-8">
  @if (this.details) {

    <!-- Características y estadísticas -->
    <div>
      <div class="flex justify-evenly items-center max-w-7xl m-auto">
        <img src={{this.details.spriteFrontDefault}} alt={{this.details.name}} width="250px" class="object-fill">
        <p class="uppercase mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          {{this.details.name}}
        </p>
        <img src={{this.details.spriteFrontShiny}} alt={{this.details.name}} width="250px" class="object-fill">
      </div>

      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 px-4 sm:px-6 sm:py-5 lg:max-w-7xl lg:grid-cols-2 lg:px-8 ">
        <div class="rounded-lg px-4 bg-blue-300 border-gray-400 border-2">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl mt-5">Características</h2>
          <dl class="mt-8 grid grid-cols-1 gap-x-6 gap-y-0 sm:grid-cols-2 sm:gap-y-0 lg:gap-x-5">
            <app-stat-pokemon name="ID" [value]="this.details.codPokemon"/>
            <app-stat-pokemon name="Altura" [value]="this.details.height"/>
            <app-stat-pokemon name="Peso" [value]="this.details.weight"/>
            <app-stat-pokemon name="HP" [value]="this.details.hp" />
          </dl>
        </div>
        <div class="rounded-lg px-4 bg-teal-300 border-gray-400 border-2">
          <br />
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl">Estadísticas</h2>
          <dl class="mt-8 grid grid-cols-1 gap-x-6 sm:grid-cols-2 sm:gap-y-0 lg:gap-x-5">
            <app-stat-pokemon name="Attack" [value]="this.details.attack" />
            <app-stat-pokemon name="Defense" [value]="this.details.defense" />
            <app-stat-pokemon name="Special Attack" [value]="this.details.specialAttack" />
            <app-stat-pokemon name="Special Defense" [value]="this.details.specialDefense" />
            <app-stat-pokemon name="Speed" [value]="this.details.speed" />
            <br />
          </dl>
        </div>
      </div>
    </div>
    
    <br/>
    <hr class="border-1 border-dotted border-gray-500 max-w-7xl mx-auto">
    <br/>

    <!-- Habilidades -->
    <app-seccion-pokemon title="Habilidades" >
      @if (details.pokemonHabilities.length > 0) {
        @for (ability of details.pokemonHabilities; track ability.abilityCod) {
          <app-detalle-pokemon
            [titulo]="ability.abilityName"
            [descripcion]="ability.abilityDescription"
            iconName="fa-star"
            iconColor="text-green-700"
            backgroundColor="bg-lime-100"
          />
        }
      } @else {
        <div class="size-10 w-96">No existe información de habilidades</div>
      }
      </app-seccion-pokemon>
    
    <br/>
    <hr class="border-1 border-dotted border-gray-500 max-w-7xl mx-auto">
    <br/>

    <!-- Movimientos -->
    <app-seccion-pokemon title="Movimientos" >
      @if (details.pokemonMoves.length > 0) {
        @for (move of details.pokemonMoves; track move.moveCod) {
        <app-detalle-pokemon
          [titulo]="move.moveName"
          [descripcion]="move.moveDescription"
          iconName="fa-wheelchair-move"
          iconColor="text-purple-700"
          backgroundColor="bg-violet-300" />
        }
      } @else {
        <div class="size-10 w-96">No existe información de movimientos</div>
      }
    </app-seccion-pokemon>

    <br/>
    <hr class="border-1 border-dotted border-gray-500 max-w-7xl mx-auto">
    <br/>

    <!-- Lugares -->
    <app-seccion-pokemon title="¿Dónde encontrarlo?">
      @if (details.pokemonLocations.length > 0) {
        @for (location of details.pokemonLocations; track location.locationCod) {
          <app-detalle-pokemon
            [titulo]="location.locationName"
            iconName="fa-map-location-dot"
            iconColor="text-stone-600"
            backgroundColor="bg-stone-300"
          />
        }
      } @else {
        <div class="size-10 w-96">No existe información de dónde encontrarlo</div>
      }
    </app-seccion-pokemon>
    
    <br/>
    <hr class="border-1 border-dotted border-gray-500 max-w-7xl mx-auto">
    <br/>

    <!-- Juegos -->
    <app-seccion-pokemon title="Juegos en los que aparece" >
      @if (details.pokemonGames.length > 0) {
        @for (game of details.pokemonGames; track game.gameCod) {
          <app-detalle-pokemon
            [titulo]="game.gameName"
            iconName="fa-gamepad"
            iconColor="text-red-600"
            backgroundColor="bg-red-300"
          />
        }
      } @else {
        <div class="size-10 w-96">No existe información de juegos</div>
      }
    </app-seccion-pokemon>
    }
</div>