<div class="bg-gray-50 sm:py-12 rounded-md">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    @if (this.details) {

      <!-- Características y estadísticas -->
      <div>
        <div class="flex justify-evenly items-center">
          <img src={{this.details.sprites.front_default}} alt={{this.details.name}} width="250px" class="object-fill">
          <div>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              {{this.details.name.toUpperCase()}}
            </p>
          </div>
          <div class="">
            <img src={{this.details.sprites.front_shiny}} alt={{this.details.name}} width="250px" class="object-fill">
          </div>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 px-4 sm:px-6 sm:py-5 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
          <div class="rounded-lg bg-blue-300 ">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl mt-5">Características</h2>
            <dl class="mt-8 grid grid-cols-1 gap-x-6 gap-y-0 sm:grid-cols-2 sm:gap-y-0 lg:gap-x-5">
              <app-stat-pokemon name="ID" [value]="this.details.id"/>
              <app-stat-pokemon name="Altura" [value]="this.details.height"/>
              <app-stat-pokemon name="Peso" [value]="this.details.weight"/>
            </dl>
          </div>
          <div class="rounded-lg bg-teal-300">
            <br />
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl">Estadísticas</h2>
            <dl class="mt-8 grid grid-cols-1 gap-x-6 sm:grid-cols-2 sm:gap-y-0 lg:gap-x-5">
              @for (stat of this.details.stats; track stat.stat.name) {
                <app-stat-pokemon 
                  [name]="stat.stat.name == 'hp'? 'HP': stat.stat.name.charAt(0).toUpperCase() + stat.stat.name.slice(1,stat.stat.name.length)"
                  [value]="stat.base_stat"
                />
              }
              <br />
            </dl>
          </div>
        </div>
      </div>
      <br/>

    <!-- Habilidades -->
    <app-seccion-pokemon title="Habilidades" >
      @for (abilityInfo of details.abilities; track abilityInfo.ability.name) {
        <app-detalle-pokemon
          [titulo]="abilityInfo.ability.name.charAt(0).toUpperCase() + abilityInfo.ability.name.slice(1, abilityInfo.ability.name.length)"
          [descripcion]="abilityInfo.ability.description"
          iconName="fa-star"
          iconColor="text-green-700"
          backgroundColor="bg-lime-100"
        />
      }
    </app-seccion-pokemon>
    <br/>

    <!-- Movimientos -->
    <app-seccion-pokemon title="Movimientos" >
      @for (moveInfo of details.moves; track moveInfo.move.name) {
      <app-detalle-pokemon
        [titulo]="moveInfo.move.name.charAt(0).toUpperCase() + moveInfo.move.name.slice(1, moveInfo.move.name.length)"
        [descripcion]="moveInfo.move.description"
        iconName="fa-wheelchair-move"
        iconColor="text-purple-700"
        backgroundColor="bg-violet-300" />
      }
    </app-seccion-pokemon>
    <br/>

    <!-- Lugares -->
    <app-seccion-pokemon title="¿Dónde encontrarlo?">
      @for (location of details.locations; track $index) {
        <app-detalle-pokemon
          [titulo]="location.location.name"
          iconName="fa-map-location-dot"
          iconColor="text-stone-600"
          backgroundColor="bg-stone-300"
        />
      }
    </app-seccion-pokemon>
    <br/>

    <!-- Juegos -->
    <app-seccion-pokemon title="Juegos en los que aparece" >
      @for (game of details.game_indices; track $index) {
        <app-detalle-pokemon
          [titulo]="game.version.name.charAt(0).toUpperCase() + game.version.name.slice(1, game.version.name.length)"
          iconName="fa-gamepad"
          iconColor="text-red-600"
          backgroundColor="bg-red-300"
        />
      }
    </app-seccion-pokemon>
    }
  </div>
</div>