<div class="bg-gray-50 sm:py-12 rounded-md">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    @if (this.details) {

      <!-- Características y estadísticas -->
      <div>
        <div class="flex justify-evenly items-center">
          <img src={{this.details.sprites.front_default}} alt={{this.details.name}} width="250px" class="object-fill">
          <div>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              {{this.details.name.toUpperCase()}}
            </p>
          </div>
          <div class="">
            <img src={{this.details.sprites.front_shiny}} alt={{this.details.name}} width="250px" class="object-fill">
          </div>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 px-4 sm:px-6 sm:py-5 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
          <div class="rounded-lg bg-blue-300 ">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl mt-5">Características</h2>
            <dl class="mt-8 grid grid-cols-1 gap-x-6 gap-y-0 sm:grid-cols-2 sm:gap-y-0 lg:gap-x-5">
              <app-stat-pokemon name="ID" [value]="this.details.id"/>
              <app-stat-pokemon name="Altura" [value]="this.details.height"/>
              <app-stat-pokemon name="Peso" [value]="this.details.weight"/>
            </dl>
          </div>
          <div class="rounded-lg bg-teal-300">
            <br />
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl">Estadísticas</h2>
            <dl class="mt-8 grid grid-cols-1 gap-x-6 sm:grid-cols-2 sm:gap-y-0 lg:gap-x-5">
              @for (stat of this.details.stats; track stat.stat.name) {
                <app-stat-pokemon 
                  [name]="stat.stat.name == 'hp'? 'HP': stat.stat.name.charAt(0).toUpperCase() + stat.stat.name.slice(1,stat.stat.name.length)"
                  [value]="stat.base_stat"
                />
              }
              <br />
            </dl>
          </div>
        </div>
      </div>

    <!-- Habilidades -->
    <app-seccion-pokemon title="Habilidades" >
      <div class="flex flex-row justify-center">
        <dl class="flex m-10 space-x-4 p-2 overflow-scroll text-nowrap">
          @for (abilityInfo of details.abilities; track abilityInfo.ability.name) {
            <app-detalle-pokemon
              [titulo]="abilityInfo.ability.name.charAt(0).toUpperCase() + abilityInfo.ability.name.slice(1, abilityInfo.ability.name.length)"
              [descripcion]="abilityInfo.ability.description"
              iconName="fa-star"
              iconColor="text-green-700"
              backgroundColor="bg-lime-100"
            />
          }
        </dl>
      </div>
    </app-seccion-pokemon>

    <!-- Movimientos -->
    <app-seccion-pokemon title="Movimientos" >
      <dl class="flex flex-row justify-center">
        <div class="flex space-x-4 m-10 p-2 overflow-scroll text-nowrap">
          @for (moveInfo of details.moves; track moveInfo.move.name) {
          <app-detalle-pokemon
            [titulo]="moveInfo.move.name.charAt(0).toUpperCase() + moveInfo.move.name.slice(1, moveInfo.move.name.length)"
            [descripcion]="moveInfo.move.description"
            iconName="fa-bolt"
            iconColor="text-purple-700"
            backgroundColor="bg-violet-300" />
          }
        </div>
      </dl>
    </app-seccion-pokemon>

    <!-- Lugares -->
    <app-seccion-pokemon title="¿Dónde Encontrarlo?">
      <dl class="flex flex-row justify-center">
        <div class="flex space-x-4 m-10 p-2 overflow-scroll text-nowrap">
          @for (location of details.locations; track $index) {
            <app-detalle-pokemon
              [titulo]="location.location.name"
              iconName="fa-map-location-dot"
              iconColor="text-stone-600"
              backgroundColor="bg-stone-300"
            />
          }
        </div>
      </dl>
    </app-seccion-pokemon>

    <!-- Juegos -->
    <app-seccion-pokemon title="Juegos" >
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <!--
        @for (game of details?.game_indices; track game.game_index) {
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path strokeLinecap="round" strokeLinejoin="round"
                  d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
                <path strokeLinecap="round" strokeLinejoin="round"
                  d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
              </svg>
            </div>
            {{game.version.name}}
          </dt>
        </div>
        }
        -->
      </dl>

    </app-seccion-pokemon>
    }
  </div>
</div>