<section class="text-center">
  @if (basePokemons != null) {
      <div class="bg-gray-50 rounded-md m-20">
          <div class="mx-20 max-w-full">
            <div class="mx-auto max-w-2xl py-16  lg:max-w-none">
              <div class="text-4xl font-bold text-gray-900">Pokemons</div>
              <br/>
              <div class="flex flex-row">
                <i (click)="back()" id="backButton" class="fa-solid fa-chevron-left fa-3x mr-10 my-auto" [ngClass]="[backButtonColor, backButtonCursor]"></i>
                <div class="mt-6 space-y-12 lg:grid lg:grid-cols-5 lg:gap-x-6 lg:space-y-0 w-full">
                    @for (pokemon of basePokemons; track pokemon.codPokemon) {
                      <div class="group relative">
                        <dt class="text-base font-semibold leading-7 text-gray-900">
                          <div class="absolute left-2 top-1 flex h-7 w-7 items-center justify-center rounded-lg">
                            <i class="fa-solid fa-eye fa-xl"></i>                           
                          </div>
                          <div (click)="showPokemon(pokemon.codPokemon)" class="capitalize cursor-pointer mb-6 bg-indigo-500 text-base font-semibold text-gray-900 relative w-full overflow-hidden rounded-lg sm:aspect-w-2 group-hover:opacity-75 sm:h-20">
                            <br/>
                            {{pokemon.name}}
                          </div>
                        </dt>
                      </div>
                    }
                </div>
                <i id="advanceButton" (click)="advance()" class="fa-solid fa-chevron-right fa-3x ml-10 my-auto" [ngClass]="[advanceButtonColor, advanceButtonCursor]"></i>
              </div>
            </div>
          </div>
        </div>
  } @else {
      <div class="text-2xl font-bold mt-20">
          No existen pokemons para mostrar
      </div>
  }
</section>
<router-outlet></router-outlet>
