<div class="group relative border-2 border-gray-500 rounded-lg overflow-hidden min-w-48 min-h-12" [ngClass]="[backgroundColor]" >
  <div class="absolute top-1 left-1 h-7 w-7">
    <i class="fa-solid {{iconName}} fa-xl {{iconColor}}" ></i>
  </div>
  <div class="bg-white mx-9 p-2">
    <dt class="capitalize text-base font-semibold leading-7 text-gray-900 items-center">
      {{titulo}}
    </dt>
    @if (descripcion && descripcion.length > 0) {
      <dd class="mt-2 text-base leading-7 text-gray-600 text-wrap w-60 text-left">{{descripcion}}</dd>
    }
  </div>
</div>