<div class="relative px-12 border-2 border-gray-500 rounded-lg overflow-hidden min-w-48" [ngClass]="[backgroundColor]" >
  <div class="bg-white p-3">
    <dt class="text-base font-semibold leading-7 text-gray-900 items-center">
      <div class="absolute left-2 top-1 flex h-7 w-7 items-center justify-center">
          <i class="fa-solid {{iconName}} fa-xl {{iconColor}}" ></i>
      </div>
      {{titulo}}
    </dt>
    @if (descripcion) {
      <dd class="mt-2 text-base leading-7 text-gray-600 text-wrap w-60">{{descripcion}}</dd>
    }
  </div>
</div>